# Node modules need to be installed through yarn
node_modules/

# Environment variables
data/.env

# Any logs created
*.log

# ignore sqlite databases
*.sqlite3
*.sqlite

# VSCode settings
.vscode/

.DS_Store

# data
data/sample.json